---
import Container from "@/components/Container.astro";
---

<Container class="grid max-w-4xl gap-8 md:grid-cols-3 md:gap-12">
  <h2>This is <span class="text-accent">not</span> a dating event</h2>
  <div class="md:col-span-2">
    <p class="mb-4">
      We'll be stepping into roles and trying out behaviors we might never do in
      real life. We'll do things that push our edges and make us uncomfortable.
      We'll say &ldquo;yes&rdquo; to things we might normally say &ldquo;hell
      no&rdquo; to, and vice versa.
    </p>
    <p>
      <span class="font-semibold"
        >If you feel a new spark with someone during the event,</span
      > we ask that rather than sharing it directly, you contact the organizers afterward
      when we send out feedback forms. We'll connect you with that person if they're
      also interested, keeping the environment playful, pressure-free, and free of
      judgement.
    </p>
  </div>
</Container>
