---
import Container from "@/components/Container.astro";
---

<Container id="about" class="max-w-3xl">
  <h2 class="mb-8">
    What is Flirt&nbsp;
    <span class="text-accent">Improv</span>?
  </h2>
  <p
    class="mb-5 text-lg first-letter:float-left first-letter:mt-2 first-letter:mr-3 first-letter:font-display first-letter:text-7xl first-letter:font-semibold first-letter:text-accent"
  >
    Flirt Improv is a chance to explore the art of flirtation in a creative,
    pressure-free environment. As a group, we experiment with different flirting
    styles, act out scenarios using improv-style games, and play out stories
    from our own lives.
  </p>
  <p class="text-lg">
    The goal is to have fun, be silly and sincere, and learn to embrace and
    overcome the awkwardness that often comes with flirting with strangers.
    Whether you're a seasoned flirt or looking to break out of your shell, this
    is a great place to practice and learn.
  </p>
</Container>
