---
import Container from "@/components/Container.astro";
---

<Container class="grid max-w-4xl gap-10 md:grid-cols-2 md:gap-14">
  <div>
    <h3 class="mb-4">Why Flirt?</h3>
    <p>
      Flirting is not just for romance. It's great for building connections and
      enjoying playful, engaging conversations with your fellow humans. By
      practicing flirtation, you'll become more confident, better at expressing
      yourself, and more comfortable connecting with anyone in a fun and
      authentic way.
    </p>
  </div>
  <div>
    <h3 class="mb-4 text-accent">Why Improv?</h3>
    <p>
      Improv is perfect for experimenting with different flirting styles and
      scenarios in a safe, creative, and often hilarious space. It gives you
      freedom to play with communication, body language, and reactions, without
      the pressure of real-life consequences. We're not an improv class. We just
      borrow the techniques to make flirting fun and accessible.
    </p>
  </div>
</Container>
